/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.dflex {
  display: flex;
}
.centra {
  align-items: center;

}

.jcentra{
  justify-content: center;
}

.h100 {
  height: 100%;

}
.betw {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.debug {
  background-color: rgba(16, 199, 138, 0.3);
  border: 1px solid black;
  height: 100%;
}



header {
  height: 80px;
  background-color: lightblue;
}

header ul li {
  list-style: none;
  margin-right: 20px;
}
.hcontainer {
  margin-left: 30px;
width: 80%;
max-width: 1600px;
}

.desktop {
  display: none;
}


/*RESPONSIVE*/

@media screen and (min-width: 480px) {
  .hcontainer {
    width: 80%;
    
  }
  .mcontainer .row {
    flex-direction: column;
  }

}






@media screen and (min-width: 768px) {
  .mcontainer {
    width: 80%;
    
  }

  .mcontainer .row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
 .card {
  width: calc(100% / 3);
 }
 .card.big {
  width: calc(100% * 2 / 3);
 }
 .card2 {
  width: calc(80% / 2);}

 .card3 {
  width: calc(60%);
 }
.card4{
  width: calc(100% /2);
}
 .row {
  justify-content: center;
 }
 .text {
  text-align: center;
 }
 
 .card5 {
  width: calc(80% / 2);
 }
 .card.big {
  width: calc(80% * 2 / 3);
}
}













@media screen and (min-width: 1200px) {
  .mcontainer {
    width: 80%;
    
  }
 .desktop {
  display: block;
 }
 .mobile {
  display: none;
 }
 .card3 {
  width: calc(60%);
 }

 .row.tre {
  justify-content: center;
 }
 .text {
  text-align: center;
 }
 .card {
  width: calc(80% / 3);}
 .card4{
  width: calc(80% /3);}
  .card2{
    width: calc(80% /3);}
  .row {
    justify-content: center;
  }
}



/* MAIN */

.row {
  display: flex;
}
.mcontainer {
margin-top: 40px;
width: 95%;
}

.card {
  background-color: lightblue;
  border: 1px solid blue;
  height: 300px;
}

.col{
  min-height: 300px; /*debug da togliere*/

}

.card2 {
background-color:coral ;   
 border: 1px solid blue;
height: 300px;
}


.card3 {
  background-color: slateblue ;   
   border: 1px solid blue;
  height: 300px;
  }

  .card4 {
    background-color: darkkhaki ;   
     border: 1px solid blue;
    height: 300px;
    }